<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <% content_for :title, "Calendar" %>
        <% stylesheet_link_tag "/calendar/jquery-ui-custom" %>
        <% stylesheet_link_tag "/calendar/fullcalendar" %>
        <% stylesheet_link_tag "/calendar/view_calendar" %>
        <% stylesheet_link_tag "/calendar/jquery.miniColors" %>
        <% javascript_include_tag "/calendar/jquery-ui.min" %>
        <% javascript_include_tag "/calendar/fullcalendar" %>
        <% javascript_include_tag "/calendar/view_calendar" %>
        <% javascript_include_tag "/calendar/jquery.miniColors" %>
    </head>
    <body>
        <div id="content_wrapper">
            <div id="calendar"></div>
        </div>
            <!-- Event generation -->
            <div id="event_generation_wrapper">
                <input id='txt_title' type='text' value='Title'/><br/>
                <textarea id='txt_description'>Description</textarea><br/>
                <input id='txt_price' type='text' value='5.00'/><br/>
                <input id='txt_available' type='text' value='5'/><br/>
                <input id="btn_gen_event" type="button" value="New Template" class='btn'/>
                <input id="btn_update_event" type="button" value="Update Event" class='btn'/>
                <input id="txt_current_event" type="hidden" value=""/>
                
                <!-- Booking types list -->
                <div id='external_events'>
                    <div id='external_event_template' class='external-event ui-draggable'></div>
                </div>
            </div>
        </div>
    </body>
</html>

